<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/body" routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doblebinding" routerLinkActive="active">
            Doblebinding
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/iforcom" routerLinkActive="active">
            iforcom
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ng-class-c" routerLinkActive="active">
            Ng-class-c
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ng-style-c" routerLinkActive="active">
            Ng-style-c
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/padre" routerLinkActive="active">
            Padre
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signal-c" routerLinkActive="active">
            Signal-c
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/switchcom" routerLinkActive="active">
            Switchcom
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/EjemploComponente" routerLinkActive="active">
            EjemploComponente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listaEstudiantes" routerLinkActive="active">
            listaEstudiantes
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/action">Action</a></li>
            <li><a class="dropdown-item" routerLink="/another">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/something">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>