/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


/* Resetear altura en toda la cadena */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Si usas app-root como contenedor principal */
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}